@import '../App.scss';
.licnost{
    background-color: purple;
    border-radius: 0.5rem;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
   
gap: 2rem;
    @media (max-width: $phoneWidth) {
        width: 95%;
    }
    @media (min-width: calc($phoneWidth)) {
        width: 45%;
    }
    @media (min-width: calc($phoneWidth*2)){
        width: 23%;
    }
    button{
        position: absolute;
        left: 50%;
        bottom: 0.5rem;
        transform: translateX(-50%);
        background-color: plum;
    }
    img{
        object-fit: cover;
        height: 40%;
        width: 85%;
        border-radius: 0.5rem;
    }
    span:not(:first-of-type){
        color:red;
    }
}

#licnosti{
    padding-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 1.5rem;
    overflow: scroll;
    overflow-x: hidden;
}

.licnost-ime{
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}

.licnost-prica{
    color: white;
    margin-top: 0.3rem;
}