.chatroom{
    height: 90%;
    width: 100%;

    input{
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        outline: none;
        border: none;
        padding: 0.7rem;
        background-color: rgb(220, 220, 220);
        position: absolute;
        bottom: 0.5rem;
    }
    padding-top: 1rem;

    overflow: scroll;
    overflow-x: hidden;
}

.chatroom > div{
    margin-top: 0.4rem;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
}

.chatroom div div{
    padding: 0.3rem;
    background-color: gray;
    max-width: 60%;
    width: fit-content;
    border-radius: 0.3rem;

    p:first-of-type{
        font-size: 1.2rem;
    }
}


.my{
    justify-content: flex-start;
    >div{
        margin-left: 0.5rem;
    }
    
}

.foreign{
    justify-content: flex-end;
    >div{
        margin-right: 0.5rem;
        background-color: purple !important;
    }
}