header > a{
    color: red;
}
*{
    font-family: 'Montserrat', sans-serif;
}
$phoneWidth: 600px;
$hamburgerWidth: 1831231231250px;


header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    background-color: purple;
    height: 10vh;
    position: relative;
    gap: 1.5rem;
}

section{
    min-height: 90vh;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}

header > a{
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
}

header > a:hover{
    opacity: 0.75;
}

header > a:last-of-type{
    margin-right: 1.6rem;
}

header svg{
    cursor: pointer;
    position: absolute;
    right: 1rem;
}

#hamburger-menu svg{
    top: 1rem;
}

#logininfo svg{
    top: initial!important;
}

header > svg{
    top: 50%;
    transform: translateY(-50%);
    
}

#hamburger-menu{
    z-index: 99;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    background-color: rgba(100, 100, 100, 0.7);
}

#hamburger-menu.visible{
    visibility: visible;
    >div{
        transform: translateX(0);
    }
}

#hamburger-menu > div{
    display: flex;
    flex-direction: column;
    float: right;
    background-color: purple;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100vh;
    right: 0;
    transform: translateX(100%);
    top: 0;
    position: absolute;
    transition: all 0.2s linear;
    width: 100vw;
    @media (min-width: 900px){
        width: 35vw;
    }
}

@media (max-width: $hamburgerWidth) {
    header > a{
        display: none;
    }
}

@media (min-width: $hamburgerWidth){
    header > svg,
    #hamburger-menu{
        display: none;
    }
}

#logininfo{
    position: absolute;
    top: 1rem;
    left: 1rem;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    svg{
        position: relative !important;
        right: 0 !important;
        margin-right: 0.5rem;
    }
    font-size: 1.5rem;
    color: white;
}

#hamburger-menu a{
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

#hamburger-menu a:hover{
    opacity: 0.75;
}

#alert{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
    z-index: 99;
    color: white;
    border-radius: 0.5rem;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
    padding: 1rem;
}

#alert.visible{
    background-color: red;
    bottom: 85%;
}

.fancyinput.text,
.fancyinput.password{
    position: relative;
    input{
        outline: none;
        border: none;
        background-color: rgb(240, 240 ,240);
        padding: 0.3rem;
    }
    span{
        position: absolute;
        bottom: 95%;
        left: 5%;
        color: black;
        opacity: 0.6;
    }
    
    color: green;
}
.fancyinput.text:has(input:focus),
.fancyinput.password:has(input:focus){
    span{
        opacity: 1;
    }
}

.fancyinput.checkbox{
   span{
    margin-right: 0.4rem;
   }
}

header > img{
    position: absolute;
    left: 2rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 8rem;
    height: 8rem;
}
header > img:hover{
    opacity: 0.8;
}